@model ProjetoInterdisciplinar.Models.Department

@{
    ViewData["Title"] = "Criar";
}
<br>
<br>
<br>
<br>
<h2>@ViewData["Title"]</h2>

<h4 class="mb-4">Departamento</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-lg-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Digite o nome do departamento" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<br>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    h2 {
        color: #343a40;
    }

    .btn {
        margin-right: 10px;
    }

    .alert-danger {
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    input::placeholder {
        font-style: italic;
        color: #6c757d;
    }
</style>
