@model ProjetoInterdisciplinar.Models.Department

@{
    ViewData["Title"] = "Editar";
}

<br>
<br>
<br>
<br>
<h2 class="my-4">Editar</h2>

<h4 class="mb-3">Departamento</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-lg-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Voltar a lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    h2, h4 {
        color: #343a40;
    }

    .btn {
        margin-right: 5px;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }
</style>
