@{
    ViewData["Title"] = "Sobre";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - Sobre</title>
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .col-md-12{
           left: 319px;
        }
    </style>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <div class="container about-container">
        <div class="row">
            <div class="text-center">
                <h1 class="display-4 text-center my-4">Sobre Nós</h1>
                <p class="lead text-center">CommerSys, sua solução completa para gerenciar vendas e departamentos de forma eficiente.</p>
            </div>
        </div>
        <br>
        <div class="row my-4">
            <div class="col-md-6">
                <h2>Nossa Missão</h2>
                <p>Nossa missão é fornecer as melhores ferramentas para gerenciar suas vendas e departamentos com facilidade. Nos esforçamos para oferecer uma experiência perfeita que ajude os negócios a crescer e prosperar.</p>
            </div>
            <div class="col-md-6">
                <img src="~/images/grupo.jpg" alt="Mission" class="img-fluid rounded about-image">
            </div>
        </div>
        <br>
        <div class="row my-4">
            <div class="col-md-6">
                <img src="~/images/visao.jpg" alt="Vision" class="img-fluid rounded about-image">
            </div>
            <div class="col-md-6">
                <h2>Nossa Visão</h2>
                <p>Nós imaginamos um mundo onde os negócios possam gerenciar suas operações de forma fácil e eficiente utilizando nossas ferramentas de ponta.</p>
            </div>
        </div>
        <br>
        <br>
        <h2 class="text-center">Criador</h2>
        
        <div class="row my-4">
            <div class="col-md-12">
                <h2 class="text-center"></h2>
                <div class="row justify-content-center">
                    <div class="col-md-4 text-center">
                        <img src="~/images/foto1.jpeg" alt="Team Member 1" class="img-fluid rounded-circle mb-2" style="width: 150px; height: 150px;">
                        <h5><strong>Eduardo Rodrigues</strong></h5>
                        <p><strong>Programador Full-stack</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</body>
</html>
