@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Site de Departamentos - Conheça nossas principais ferramentas CommerSys">
    <meta name="keywords" content="departamentos, vendedores, vendas, ferramentas, CommerSys">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Site de Departamentos</title>
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <main>
        <div class="custom-container">
            <h1 class="site-title">Conheça nossas principais ferramentas CommerSys: </h1>
        </div>
        <section class="page-section clearfix">
            <div class="container">
                <div class="departments">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="department-item">
                                <img src="~/images/depart.png" alt="Imagem representando departamentos" class="img-responsive img-rounded">
                            </div>
                            <div class="department-text text-background">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Departamentos</span>
                                </h2>
                                <p>Crie departamentos você mesmo, em tempo real, facilitando suas vendas e tornando-as mais diversificadas e organizadas.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="department-item">
                                <img src="~/images/vendas.jpg" alt="Imagem representando vendedores" class="img-responsive img-rounded">
                            </div>
                            <div class="department-text text-background">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Vendedores</span>
                                </h2>
                                <p>Crie, edite e exclua novos vendedores de maneira fácil e rápida. Veja detalhes em tempo real dos seus vendedores e das vendas do seu negócio.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="department-item">
                                <img src="~/images/simp.jpg" alt="Imagem representando venda simples" class="img-responsive img-rounded">
                            </div>
                            <div class="department-text text-background">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Registro de vendas simples</span>
                                </h2>
                                <p>Tenha na palma da sua mão um registro simples das vendas de todos os departamentos e vendedores.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="department-item">
                                <img src="~/images/agrup.jpg" alt="Imagem representando venda agrupada" class="img-responsive img-rounded">
                            </div>
                            <div class="department-text text-background">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Registro de vendas agrupadas</span>
                                </h2>
                                <p>Aqui, você terá acesso a informações detalhadas: poderá ver as vendas máximas de cada setor e verificar o status das vendas, proporcionando dados precisos para suas decisões!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
