/*

body {
    background-image: url('/images/commercial_management_background.png') !important;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    height: 100%;
}

html {
    height: 100%;
}
    
    */
